<!-- Website Content -->

<section class="">
    <div class="jumbotron container">
        <h1 class="display-4">Welcome to my <%= title %> page</h1>
    </div>

    <div class="row">

        <div class="col-md-offset-3 col-md-6">
            <div>
                <h1><%= title %></h1>
                <p>Welcome to <%= title %></p>
            </div>
        </div>

        <table class="table table-bordered table-striped table-hover">
            <!-- Header row -->
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Author</th>
                <th class="text-center">Published</th>
                <th class="text-center">Description</th>
                <th class="text-center">Price</th>
            </tr>

            <!-- we can iterate each row: -->
            <% for(let count = 0; count < bookList.length; count++) { %>
                <tr>
                    <td class="text-center"><%= bookList[count].name %></td>
                    <td class="text-center"><%= bookList[count].author %></td>
                    <td class="text-center"><%= bookList[count].published %></td>
                    <td class="text-center"><%= bookList[count].description %></td>
                    <td class="text-center"><%= bookList[count].price %></td>
                </tr>
            <% } %>
        </table>

    </div>
</section>