<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head_global.ejs %>
  </head>

    <body>
        <%- include partials/header_template.ejs %>

        <div class="container">
            <% if(messages.length > 0 ) { %>
                <div class="alert alert-danger">
                    <%= messages %>
                </div>
            <% } %>

            <div class="row">
                <div class="offset-md-4-md-4">
                    <h1>Please Login</h1>
                    <form method="POST">
                        <fieldset class="form-group">
                            <label for="username">Username: </label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username:" required autofocus>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="password">Password: </label>
                            <input type="text" class="form-control" name="password" id="password" placeholder="Enter password:" required>
                        </fieldset>

                        <fieldset class="form-group">
                            <input type="submit" class="btn btn-success" value="Login">
                            <a href="/" class="btn btn-warning">
                                <input type="button" class="btn btn-warning" value="Cancel">
                            </a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </body>
  
  <footer>
    <%- include partials/footer_global.ejs %>
  </footer>

  <%- include partials/scripts_global.ejs %>
</html>