<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head_global.ejs %>
  </head>

    <body>
        <%- include ../partials/header_template.ejs %>

        <!-- Content for the Add page -->
        <div class="container">
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <h1><%= title %></h1>

                    <form class="form" method="POST">
                        <div class="form-group">
                            <label for="contactName">Contact Name</label>
                            <input type="text" class="form-control"
                            id="contactName"
                            placeholder="Enter contact name"
                            name="contactName" 
                            value="<%= contact.contactName %>"
                            required>
                        </div>

                        <div class="form-group">
                            <label for="contactEmail">Contact Email</label>
                            <input type="email" class="form-control"
                            id="contactEmail"
                            placeholder="Enter contact Email"
                            name="contactEmail" 
                            value="<%= contact.contactEmail %>"
                            required>
                        </div>

                        <div class="form-group">
                            <label for="contactNumber">Contact Number</label>
                            <input type="tel" class="form-control"
                            id="contactNumber"
                            placeholder="Enter contact number"
                            name="contactNumber" 
                            value="<%= contact.contactNumber %>"
                            required>
                        </div>

                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-edit"></i> Submit</button>
                        
                            <a href="/contact-list" class="btn btn-warning">
                                <i class="fas fa-undo"></i> Cancel</a>

                    </form>
                </div>

            </div>
        </div>
    </body>
  
  <footer>
    <%- include ../partials/footer_global.ejs %>
  </footer>

  <%- include ../partials/scripts_global.ejs %>
</html>

