<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head_global.ejs %>
  </head>

  <body>
    <%- include ../partials/header_template.ejs %>

    <!-- Main Content -->
    <div class="container">
      <h1><%= title %></h1>
      
      <div class="row">
        <!-- if logged - display this -->
        <div>
          <% if(typeof displayName == 'string' && displayName) { %>
            <a href="/contact-list/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Add a Contact</a>
          <% } %>
        </div>
        <br>
        <br>
        <table class="table">
          <!-- Header Row-->
          <thead class="thead-dark">
            <tr>
              <% if(typeof displayName == 'string' && displayName) { %>
              <th scope="col" class="text-center">Name</th>
              <th scope="col" class="text-center">Email</th>
              <th scope="col" class="text-center">Number</th>
              <th scope="col" class="text-center">Actions</th>
              <% } else { %>
              <th scope="col" class="text-center">Name</th>
              <th scope="col" class="text-center">Email</th>
              <th scope="col" class="text-center">Number</th>
              <% } %>
            </tr>
          </thead>

          <tbody>
            <!-- Repeatable Template Row -->
            <% for(let count = 0; count < ContactList.length; count++) { %>
            <tr>
              <% if(typeof displayName == 'string' && displayName) { %>
              <td class="text-center"><%= ContactList[count].contactName %></td>
              <td class="text-center"><%= ContactList[count].contactEmail %></td>
              <td class="text-center"><%= ContactList[count].contactNumber %></td>
              <td class="text-center">
                <a href="/contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm">
                <i class="fas fa-pencil-alt"></i> Edit</a>

                <a href="/contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i> Delete</a>
              </td>
              <% } else { %>
              <td class="text-center"><%= ContactList[count].contactName %></td>
              <td class="text-center"><%= ContactList[count].contactEmail %></td>
              <td class="text-center"><%= ContactList[count].contactNumber %></td>
              <% } %>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  
  <footer>
    <%- include ../partials/footer_global.ejs %>
  </footer>

  <%- include ../partials/scripts_global.ejs %>
</html>

